.Top-tips-grid {
    display: grid;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.Top-tips-grid > div {
    background-color: rgba(205, 235, 241, 0.8);
    text-align: center;
    padding: 20px 0;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 30px;
    color: rgb(76, 231, 100);
  }